@import '~bootstrap/scss/bootstrap.scss';
@import './variables.scss';
@import './Homepage.scss';
@import './Register.scss';

.measurements {
  max-width: 420px;
  margin: auto;
}

.header {
  min-height: 70px;
  background-color: $light-blue;
  color: #fff;

  .plus-icon {
    right: 10px;
    bottom: 4px;
    font-size: 2rem;
  }
}

.tabs,
.measurement {
  background-color: $light-gray;
  height: calc(100vh - 140px);
  overflow-y: auto;
}

.tab {
  .tab-title {
    background-color: $light-gray;
    color: $dark-gray;
  }

  .date {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .circle-range {
    max-width: 40px;
  }

  .tab-content {
    background-color: $white;
  }
}

.charts {
  max-width: 70px;
  margin-left: auto;
}

.measurement-heading {
  background-color: $white;
}

.unit {
  color: $dark-gray;
  font-size: 12px;
}

.measurement__card {
  background-color: $white;
}